<div class="container-fluid">
  <div class="row" style=" margin:0">
    <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: cadetblue;">
           <label style="color: white;font-size: 17px;margin-bottom: 1px;"><h3>Stock Master</h3></label>
      </div>
   </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="tiles-border bg-white margin-right33">
        <div class="row padding-top10">
          <div class="col-md-6 col-sm-12 col-xs-12">
              <form #stockMasterForm="ngForm">
               <div class="tilesform-border margin-top">
                   <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="form-group form-content cashpage-height">
                        <mat-form-field hideRequiredMarker="true">
                          <input matInput placeholder="Item Name" [(ngModel)]="model.stock.name" name="name"
                            value={{model.stock.name|capitalizeFirst}} pattern="^(?=[\S\s]{2,60}$)[\S\s]*" autocomplete="off"
                            required #itemName="ngModel">
                        </mat-form-field>
                        <div class="txt-danger-wrap" *ngIf="itemName.errors && (itemName.dirty || itemName.touched)">
                          <mat-hint class="text-danger font-12" [hidden]="!itemName.errors.pattern">
                            {{model.errorMessage.name}}
                          </mat-hint>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="form-group form-content cashpage-height">
                        <mat-form-field hideRequiredMarker="true">
                          <input matInput placeholder="Item Number" [(ngModel)]="model.stock.productId" name="productId"
                            value={{model.stock.productId}} pattern="^[1-9]\d*$" autocomplete="off"
                            required #productId="ngModel">
                        </mat-form-field>
                        <div class="txt-danger-wrap" *ngIf="productId.errors && (productId.dirty || productId.touched)">
                          <mat-hint class="text-danger font-12" [hidden]="!productId.errors.pattern">
                            {{model.errorMessage.productId}}
                          </mat-hint>
                        </div>
                      </div>
                    </div>

                    <button id="Reset" matTooltip="Reset" class="submit-btn btn btn-secondary btn-property" type="button" (click)="clearAll();model.update=false">Clear</button>
                    <button  id="save" class="submit-btn btn btn-secondary btn-property submitButton" type="submit" [disabled]="!stockMasterForm.valid "
                    matTooltip="Save" (click)="save();">{{ !model.update ? 'Save' : 'update' }}</button>
               </div>
              </div>
           </form>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <table id="example" class="table table-striped table-bordered margin-top15 margin-bottomzero">
                 <thead>
                   <tr style="border-bottom: 1px solid #ddd;" class="bg-grey padding">
                     <td class="font-weight500">Sr.No.</td>
                     <td class="font-weight500">Item Name</td>
                     <td class="font-weight500">Item Number</td>
                     <td class="font-weight500" style="text-align: center;">Action</td>
                   </tr>
                 </thead>

                 <tbody>
                   <tr *ngFor="let st of model.stockList; let i =index">
                     <td>{{ i+1 }}</td>
                     <td class="word-break-itempage">{{ st.name }}</td>
                     <td class="word-break-itempage">{{ st.productId }}</td>
                     <td style="text-align: center;">
                          <span style="margin-right: 5px; cursor: pointer;">
                            <a  (click)="edit(st)" title="Edit"> 
                              <mat-icon>edit</mat-icon>
                            </a>  |
                            <a  (click)="delete(st)" title="Delete">  
                              <mat-icon>delete</mat-icon>
                            </a>
                            </span>
                       </td>
                   </tr>
                 </tbody>
           </table>
          </div>
       </div>
     </div>
    </div>
  </div>
</div>